In [ ]:
# Regress√£o linear SIMPLES! Apenas 1 dado descreve o outro

In [1]:
import pandas as pd
# import matplotlib.pyplot as plt
#
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score


# Importando a base de dados
dados = pd.read_excel("../CURSO_IA_ML/Aula 2/Sorvete.xlsx")
dados.head()

   Temperatura  Vendas_Sorvetes
0           26       268.125258
1           39       403.562400
2           34       339.279899
3           30       310.035329
4           27       273.616360